.body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url('background.png');
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

#content{ 
    background-image:url("background.png"); 
    padding:50px; 
    background-color:lightgrey; 
    border:5px solid grey; 
    margin-left:70px; 
    margin-right:70px; 
    height:850px; 
    margin-top:70px; 
    margin-bottom:70px;
    }
#port1{
    padding:20px;
}
#header{
    float:right; 
    margin-right:280px;
}
#display{
    float:left; 
    margin-right:150px;
    }
#banner{
    margin-left:140px;
    }

.glass{
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: 600px;
    border-radius: 20px;
}

.glass2{
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: 600px;
    border-radius: 20px;
}

.choose{
    margin: 10px;
    width: 250px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 30px;
    border-radius: 10px;
}

.choose a{
    color: white;
}

.choose a:hover{
    color: #ccc;
}

#home{
    width: 80px;
    height: 80px;
    background-color: #ccc;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 315px;
}

#restart{
    width: 80px;
    height: 80px;
    background-color: #ccc;
    color: white;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 305px;
}

.developer{
    width: 250px;
    height: 300px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.developer img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.title{
    width: 100%;
    height: 100px;
    padding: 15px;
    font-size: 50px;
    background-color: #fff;
}

.highest{
    float: left;
}

.box {
    width: 50%;
    float: left;
    height: 400px;
    padding: 30px;
    margin-top: 20px;
    border-right: 1px solid #fff;
    background-color: pink;
}

.box2 {
    opacity: 0.7;
    width: 50%;
    float: left;
    height: 400px;
    padding: 30px;
    margin-top: 20px;
    border-left: 1px solid #fff;
    background-color: pink;
}

.inner, .inner2{
    width: 100%;
    height: 50px;
    color: black;
}

.down, .down2{
    padding: 30px;
    margin-top: 40px;
    height: 150px;
    width: 300px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;    
}

.operation{
    font-size: 40px;
}

#icon img{
    width: 100%;
    height: 100%;
}

#num1, #num2{
    font-size: 40px;
    padding: 10px;
}

#answer{
    font-size: 40px;
    padding: 10px;
}

.buttons{
    margin-top: 430px;
}

#icon {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    color: black;
    font-size: 30px;
    border-radius: 10px;
}

.score{
    float: center;
    margin-top: 20px;
    padding-top: 5px;
    width: 280px;
    height: 50px;
    border-radius: 10px;
    background-color: #ccc;
}

.pic{
    background-image: url("picc.jpg");
    height: 300px;
    width: 300px;
    background-size: fixed;
    background-attachment: cover;
    margin-top: 30px;
    border-radius: 5px;
}
 
.color{
    height: 100px;
    width: 180px;
    border-radius: 80px;
    background-color: orange;
    
}

#match , #notmatch {
    background-color: yellow;
    border-radius: 3px;
    color: black;
}
.start{
    float:center;
}